@import url('/styling/poem-01.css');
@import url('/styling/poem-02.css');
@import url('/styling/poem-03.css');
@import url('/styling/poem-04.css');
@import url('/styling/poem-05.css');
@import url('/styling/poem-06.css');
@import url('/styling/poem-07.css');
@import url('/styling/poem-08.css');
@import url('/styling/poem-09.css');
@import url('/styling/poem-10.css');
@import url('/styling/poem-11.css');
@import url('/styling/poem-12.css');
@import url('/styling/poem-13.css');
@import url('/styling/poem-14.css');
@import url('/styling/poem-15.css');
@import url('/styling/poem-16.css');
@import url('/styling/poem-17.css');
@import url('/styling/poem-18.css');
@import url('/styling/poem-19.css');
@import url('/styling/poem-20.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Funnel+Display:wght@300..800&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 251);
}

h1, h2,h3,h4,h5,h6{
    margin: 0;
}

.main-section{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    font-family: "DM Sans";
    border-right: 1px solid black;
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
}

.sidebar a {
    color: black;
    text-decoration: none;
    display: block;
    margin-top: 5px;
    
}

.container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:16px;
    height: 100%;   
}

.nav-bar{
    font-family: "DM Sans";
    border-top: 1px solid #222;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-bar a{
    text-decoration: none;
    color: black;
}

.nav-el{
    padding: 16px;
}

.top-nav-bar{
    font-family: "DM Sans";
    border-bottom: 1px solid #222;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16px 16PX;
}

.line-1{
    font-size: 25px;
}
.current-page-link {
    font-weight: bold;
    text-decoration: underline;
  }