
.poem-container {
  text-align: right;
  max-width: 100%;
  padding: 20px;
}

.poem-6 {
  font-size: 2.6rem;
  font-weight: 400;
}

.poem-6-line {
  margin-bottom: 15px;
  line-height: 1.6;
}

.poem-6-line span:nth-child(odd) {
  font-weight: bold;
}

.poem-6-line span {
  display: inline-block;
}
