:root{
    --font-size: 5px
}

.line-2 { 
    font-size: calc(var(--font-size) + 10px) ;
}

.line-3 { 
    font-size: calc(var(--font-size) + 20px);}

.line-4 { 
    font-size: calc(var(--font-size) + 30px);}

.line-5 { 
    font-size: calc(var(--font-size) + 40px);}

.line-6 { 
    font-size: calc(var(--font-size) + 50px);}

.line-7 { 
    font-size: calc(var(--font-size) + 60px);}

.line-8 { 
    font-size: calc(var(--font-size) + 70px);}
.line-08-01 { 
    font-size: calc(var(--font-size) + 80px);}

.line-9 { 
    font-size: calc(var(--font-size) + 95px);}

.line-10 { 
    font-size: calc(var(--font-size) + 120px);}

